body {
    background-image: url('bg3.jpg');
    background-size: cover;
    
    background-repeat: no-repeat;
    background-position: center;
    font-family: 'Raleway', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  .container {
    text-align: center;
    width: 400px;
  }
  
  
  h1 {
    margin-bottom: 20px;
    background-color: #FF69B4; /* Hot pink background */
    color: #FFFFFF; /* White text color */
    padding: 10px;
    border-radius: 5px;
    text-shadow: 2px 2px 0 #FFC0CB; /* Light pink text shadow */
    font-family: 'Abril Fatface', cursive; /* Use a decorative font */
  }
  
  #board {
    display: grid;
    grid-template-columns: repeat(8, 50px);
    grid-template-rows: repeat(8, 50px);
    border: 2px solid #333;
    background-color: #FFE4E1; /* Light pink background */
    margin-bottom: 20px;
  }
  
  .cell {
    width: 50px;
    height: 50px;
    background-color: #FFFFFF; /* White background */
    border: 1px solid #FFB6C1; /* Light pink border */
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .queen {
    width: 50px; /* Adjust the width and height as needed */
    height: 50px;
    background-image: url('Queen.jpg'); /* Replace 'queen.png' with the path to your queen image */
    background-size: contain; /* This will maintain the aspect ratio of the image */
    background-repeat: no-repeat;
    background-position: center;
  }
  
  button {
    padding: 10px 20px;
    font-size: 18px;
    background-color: #FF69B4; /* Hot pink background */
    color: #FFFFFF; /* White text color */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-family: 'Raleway', sans-serif;
  }
  
  button:hover {
    background-color: #FF1493; /* Darker pink background on hover */
  }
  
  input[type="text"] {
    padding: 8px;
    margin: 10px;
    border: 1px solid #FFB6C1; /* Light pink border */
    border-radius: 4px;
  }
  
  #scores {
    margin-top: 20px;
    text-align: center;
  }
  
  #solution {
    font-weight: bold;
    margin-bottom: 20px;
    color: #663399;  /*Hot pink text color */
    font-size: 20px;

 
    background-color: pink;
    
    
  }
  
  button#playButton {
    background-color: #FF69B4; /* Hot pink background */
    color: #FFFFFF; /* White text color */
    margin-left: 1px; /* Adjust the margin as needed */
  }