@font-face{
  font-family: 'Knight';
  src:url('knight-warrior-font/');
  }

body {
    font-family: 'Merienda', cursive;
    margin: 0;
    padding: 0;
    background-color: #ffe6e6;
    background-image: url('Home.jpg');
    background-size: cover;
    color: #663399;
    position: relative; /* Add this line */
  }
  
  header {
    background-color: #ffffff86;
    /*background: linear-gradient(to right,#B60F46,#D592FF);*/
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative; /* Add this line */
  }
  
  h1 {
    
    font-family:'Merienda', cursive;
    font-size: 3rem;
    margin: 0;
    
    color: #e04377;
    
  }
  
  /* Add this CSS rule */
  header::before {
    content: '';
    position: absolute;
    top: 10%; /* Adjust this value as needed */
    left: 10px; /* Adjust this value as needed */
    width: 150px; /* Adjust this value based on your logo's dimensions */
    height: 150px; /* Adjust this value based on your logo's dimensions */
    background-image: url('Image/logo.png'); /* Replace with your logo file path */
    background-size: contain;
    background-repeat: no-repeat;
  }
  
  main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px 20px;
  }
  
  .game-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .game-link {
    text-decoration: none;
    color: inherit;
    margin: 20px;
    position: relative;
  }
  
  .game-card {
    background: linear-gradient(to right,#B60F46,#D592FF);
    /*background-image: url('Image/bg3.jpg');*/
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    border-color: #000000;
    border-style: solid;
    overflow: hidden;
    transition: transform 0.3s ease;
    height: 200px;
    width: 350px;
    margin-top: -20px;
  }
  
  .game-card img {
    
    display: block;
   
    margin-top: 10px;
    margin-left: 150px;
  }
  
  .game-info {
    padding: 20px;
    text-align: center;
  }
  
  .game-info h2 {
    margin-top: 0;
    font-size: 1.5rem;
    color: #fff;
    font-weight: 700;
  }
  
  .game-info p {
    font-size: 0.9rem;
    line-height: 1.4;
    color: #fff;
  }
  
  .game-link:hover .game-card {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  
  @media (max-width: 768px) {
    .game-card {
      width: 300px;
    }
  }