/* General Styles */
body {
  background-image: url('bg4.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  font-family: 'Raleway', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  text-align: center;
  background-color: #FFE4E1; /* Light pink background */
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
  color: #FF69B4; /* Hot pink color */
  font-family: 'Abril Fatface', cursive; /* You can use any suitable font */
  font-size: 3rem;
  margin-bottom: 20px;
  text-shadow: 2px 2px 0 #FFC0CB; /* Light pink text shadow */
}

/* Board and Cell Styles */
.board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  margin: 20px auto;
}

.cell {
  width: 80px;
  height: 80px;
  background-color: #FFFFFF; /* White background */
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2em;
  color: #FF69B4; /* Hot pink color */
  cursor: pointer;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

.cell:hover {
  background-color: #FFC0CB; /* Light pink background on hover */
}

/* Game Message Styles */
.message {
  margin: 20px 0;
  padding: 10px;
  background-color: #FFE4E1; /* Light pink background */
  border: 1px solid #FFB6C1; /* Light pink border */
  color: #FF69B4; /* Hot pink color */
  border-radius: 5px;
}

/* Restart Button Styles */
.restart-btn {
  background-color: #FF69B4; /* Hot pink background */
  color: #FFFFFF; /* White text color */
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 5px;
  font-family: 'Raleway', sans-serif; /* You can use any suitable font */
}

.restart-btn:hover {
  background-color: #FF1493; /* Darker pink background on hover */
}

/* Modal Styles */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #FFB6C1;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #FF1493;
  width: 30%;
  border-radius: 20px;
}

.close {
  color: #FF69B4;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}